<div class="col s12 m12" ng-controller="documentosController" >
     <md-toolbar class="md-theme-light" >
    <h2 class="md-toolbar-tools">
      <span>Documentos</span>
      <md-button style="color: white;" ng-click="createDocument($event)">
     
          <md-icon>add</md-icon>
          Nuevo documento
    </md-button>
       <md-button style="color: white;" ng-click="createDocumentFolder($event)">
     
          <md-icon>add</md-icon>
          Nueva carpeta
    </md-button>
      
    </h2>
             
  </md-toolbar>
        
   
      <label style="border-bottom: black;">
          <input autofocus placeholder="Búsqueda" style="width: 100%;     border-bottom: 1px solid rgb(33,150,243); margin: 0 0 0px 0;"  ng-model="searchDocumentos">
      </label>
     
  

   <ul class="collapsible" data-collapsible="accordion">
        <li>
      <div class="collapsible-header"><i class="material-icons">filter_list</i>Filtros</div>
      <div class="collapsible-body">
          
           <md-button  class="md-primary md-raised"  ng-click=" init();llenarTodos ();">Todas las áreas</md-button>

          <div input-field>
    <select class=""    ng-change="changed()" id="areasSeleccionadas" ng-model="areasSeleccionadas" material-select multiple watch>
        <option  ng-repeat="area in areas" id="{{area.id}}">{{area.name}}</option>
    </select>
</div>

            
<div style="font-family: Roboto,'Helvetica Neue',sans-serif;">
    <div style="font-weight: bold;">Palabras clave</div>
   <tags-input ng-model="tags" 
                display-property="name" 
                placeholder="Palabras clave" 
                replace-spaces-with-dashes="false"
                template="tag-template">
      <auto-complete source="loadCountries($query)"
                     min-length="0"
                     load-on-focus="true"
                     load-on-empty="true"
                     max-results-to-show="32"
                     template="autocomplete-template"></auto-complete>
    </tags-input>

    <table>
      <tr>
        <tr>
        
            <td colspan="2" style="font-weight: bold;">Fecha de registro</td>
            <td colspan="2" style="font-weight: bold;">Fecha de documento</td>
            </tr>

        <td><input style="font-size: small;" class="datepicker" type="date"  id="startDate"/></td>

        <td><input style="font-size: small;" class="datepicker" type="date"  id="endDate"/></td>

        <td><input style="font-size: small;" class="datepicker" type="date"  id="startFileDate"/></td>

        <td><input style="font-size: small;" class="datepicker" type="date" id="endFileDate"/> </td>
       
        </tr>
        
      </table>
    </div>
    <md-button class="md-primary md-raised" ng-click="search($event)" style="width: 100%">
        Buscar
    </md-button>
  
            
            
      </div>
    </li>
    </ul>
    
<!--{{tables}} -->
<md-table-container>
  <table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" data-ng-model="selected" md-progress="promise">

    <thead ng-if="!options.decapitate" md-head data-md-order="query.order" md-on-reorder="onReorder">
      <tr md-row>
           <th md-column md:order:by="isFolder"><span>Tipo</span></th>
        <th md-column md:order:by="name"><span>Nombre</span></th>
<!--        <th md-column md:order:by="description"><span>Descripción</span></th>-->
        
        <th md-column md:order:by="createdOn"><span>Subido</span></th>
        <th md-column md:order:by="area.name"><span>Area</span></th>
        <th md-column md:order:by="user.name"><span>Creado por</span></th>
<!--Estado del documento-->
     <th md-column  ng-show="loggedUser.root"><span>Borrado</span></th>
     <th md-column ><span>Mover</span></th>
 <th md-column ng-show="loggedUser.root"><span>Respaldar</span></th>
        <th md-column ><span>Editar</span></th>
        <th md-column ><span>Descarga</span></th>
       
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="table" md-select-id="name" data-md-on-select="log" md-on-deselect="deselect" x-md-auto-select="options.autoSelect"  data-ng-repeat="document in  filteredDocuments()  | filter:searchDocumentos | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
       
          <td md-cell> <span ng-show="document.isFolder == true"><i class="material-icons">folder</i></span> <span ng-show="document.isFolder == false"><i class="material-icons">insert_drive_file</i> </span>  </td>
          <td md-cell>  {{ document.name| limitTo: 30 }}{{document.name.length > 20 ? '...' : ''}}</td>
<!--     <td md-cell>{{ document.description| limitTo: 30 }}{{document.name.length > 20 ? '...' : ''}}</td>-->
     
     <td md-cell>{{document.createdOn | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
     <td md-cell>{{document.area.name}}</td>
     <td md-cell>{{document.user.name}}</td>
    
<!--     Estado del documento - checkbox - Activo o inactivo -->
       <td md-cell  ng-show="loggedUser.root">   
           
           

          <md-switch ng-model="document.deleted" aria-label="Habilitado" ng-change="borrarORestaurar(document)">
     </md-switch>
         
           
           
             </td>
             
             
              <td md-cell  >
     <md-button  ng-click="moverDocumento($event,document)" class="md-fab md-primary" aria-label="Editar">
       <i class="material-icons">low_priority</i>
        </md-button>
     
     </td>
             
              <td md-cell  ng-show="loggedUser.root == true">
     <md-button ng-disabled="document.backedUp==true || uploading==true" ng-click="subirDocumento(document)" class="md-fab md-primary" aria-label="Editar">
       <i class="material-icons">cloud_upload</i>
        </md-button>
     
     </td>
             
     <td md-cell>    
           <md-button ng-show="document.visible" ng-click="updateDocument($event,document)" class="md-fab md-primary" aria-label="Editar">
       <i class="material-icons">border_color</i>
        </md-button>
         </td>
         
<!--         downloadFolder-->
<!--     <td md-cell ng-show="document.isFolder == false" >
          <md-button ng-href="/FIMWebServices/FIMRest/hello/downloadDocument/{{document.fullPathToFolder}}/{{document.deleted}}/{{document.deleted}}" class="md-fab md-primary" aria-label="Ver columnas">
       <i class="material-icons">file_download</i>
        </md-button>
       </td>
       <td md-cell ng-show="document.isFolder == true" >
       <md-button  ng-href="/FIMWebServices/FIMRest/hello/downloadFolder/{{document.fullPathToFolder}}/{{document.deleted}}/{{document.deleted}}" class="md-fab md-primary" aria-label="Ver columnas">
       <i class="material-icons">file_download</i>
        </md-button>
       </td>-->
        <td md-cell>
       <md-button  ng-href="/FIMWebServices/FIMRest/hello/downloadDocumentOrFolder/{{document.id}}" class="md-fab md-primary" aria-label="Ver columnas">
       <i class="material-icons">file_download</i>
        </md-button>
       </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<data-md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{documents.length}}" md-on-paginate="onPaginate" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks">
    
</data-md-table-pagination>

</div>